<p id="notice"><%= notice %></p>



<div class="container">
  <h1>Cocktails</h1>
  <div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-4">
      <div class="flat-card" style="background-image: url(<%= cocktail.image_url %>)">
        <div class="flat-card-content __web-inspector-hide-shortcut__">
            <div class="flat-card-title">
              <h4><%= cocktail.name %></h4>
            </div>
        </div>
        <div class="flat-card-actions">
            <%= link_to '', cocktail, class: "far fa-eye" %>
            <%= link_to 'Edit', edit_cocktail_path(cocktail) %>
            <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-warning" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>








<!--  -->

<%= link_to 'New Cocktail', new_cocktail_path %>
